
<div class="hero-unit">
	<h1>Welcome to OM Rails!</h1>
		<p>
			You found the homepage from the <%= link_to "One Month Rails","http://onemonthrails.com"%> demo.
		</p>
		<p>
			<%= link_to "Sign up now!","#", class: "btn btn-primary btn-large" %>
		</p>
</div>



